.logo {
  display: block;
  flex: 1;
}

.logo img {
  width: 120px;
  height: 120px;
  float: left;
}

.logo h1 {
  padding-left: 130px;
  padding-top: 35px;
}

.header__menu {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  height: 35px;
  background-color: purple;
  float:right;
}

.header__menu a {
    color: white;
    padding-right: 12px;
}

.pie__pagina {
    clear: both;
    text-align: center;
    background-color: purple ;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
  }

@media (max-width: 800px) {
  .logo {
    height: 22vh;
  }
}


.container {
    flex : 1 ;
    display: flex;
    background-color: blue;
}

.parte1 {

    flex: 1;
    display : flex ;
    background-color: blue;
}

.parte2 {
    flex: 1;
    display : flex ;
    background-color: blue;
}