.logo {
  display: block;
  flex: 1;
}

.logo img {
  width: 120px;
  height: 120px;
  float: left;
}

.logo h1 {
  padding-left: 130px;
  padding-top: 35px;
}

.header__menu {
  float: right;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  height: 35px;
  background-color: purple;
  float: right;
}

.header__menu a {
  color: white;
  padding-right: 12px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

.pie__pagina {
  background-color: rgb(98, 5, 141);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

@media (max-width: 800px) {
  .logo {
    height: 22vh;
  }
}

.container {
    background-color:blue;
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.container img {
    width: 450px;
    height: 300px;
}

.seccion_left {
  flex: 1;
  display: flex;
  background-color: blue;
}
und-color: red;
}

a {
    font-display: none;
}
